/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fill-remaining-space {
  flex: 1 1 auto;
}

.navbar-entry {
  padding: 0 10px;
}

.no-margin {
  margin: 0;
}

app-root {
  padding: 60px 0 40px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  .footer-container {
    padding: 0 10px;
    line-height: 40px;
  }
}

.text-right {
  text-align: right;
}
