<div>
  <div class="font-weight-bold">
    Optionen zu Box-Zielen
  </div>
  <ng-container
    *ngIf="canPlaceBoxTargetAtCurrentPosition() || hasBoxTargetAtCurrentPosition(); then options; else message">
  </ng-container>
</div>

<ng-template #options>
  <div class="row justify-between">
    <button *ngIf="canPlaceBoxTargetAtCurrentPosition()" type="button" (click)="addBoxTargetAtCurrentPosition()" class="standard-margin btn btn-secondary">Box-Ziel hinzufügen</button>
    <button *ngIf="hasBoxTargetAtCurrentPosition()" type="button" (click)="removeBoxTargetAtCurrentPosition()" class="standard-margin btn btn-secondary">Box-Ziel entfernen</button>
  </div>
</ng-template>

<ng-template #message>
  <span>
    Für die aktuelle Position stehen keine Option zu Box-Zielen zur Verfügung
  </span>
</ng-template>
