<div>
  <div class="font-weight-bold">
    Optionen zum Spieler
  </div>
  <ng-container
    *ngIf="canPlacePlayerAtCurrentPosition() || hasPlayerAtCurrentPosition(); then options; else message">
  </ng-container>
</div>

<ng-template #options>
  <div class="row justify-between">
    <button *ngIf="canPlacePlayerAtCurrentPosition()" type="button" (click)="putPlayerAtCurrentPosition()" class="standard-margin btn btn-secondary">Spieler platzieren</button>
    <button *ngIf="hasPlayerAtCurrentPosition()" type="button" (click)="removePlayer()" class="standard-margin btn btn-secondary">Spieler entfernen</button>
  </div>
</ng-template>

<ng-template #message>
  <span>
    Für die aktuelle Position stehen keine Optionen zum Spieler zur Verfügung
  </span>
</ng-template>
