<div>
  <div class="font-weight-bold">
    Optionen zu Boxen
  </div>
  <ng-container
    *ngIf="currentPositionIsPlaceable(); then options; else message">
  </ng-container>
</div>

<ng-template #options>
  <div class="row justify-between">
    <button *ngIf="canPlaceBoxAtCurrentPosition()" type="button" (click)="addBoxAtCurrentPosition()">Box hinzufügen</button>
    <button *ngIf="hasBoxAtCurrentPosition()" type="button" (click)="removeBoxAtCurrentPosition()">Box entfernen</button>
  </div>
</ng-template>

<ng-template #message>
  <span>
    Für die aktuelle Position stehen keine Option zu Boxen zur Verfügung
  </span>
</ng-template>
