$gridSize: 64px;
$gridColor: #FF0000;
$gridOpacity: 0.5;
$gridWidth: 1px;
$gridSize_: ($gridSize - $gridWidth);
.grid {
  background-image: repeating-linear-gradient(0deg, $gridColor, transparent $gridWidth, transparent $gridSize_, $gridColor $gridSize),
                    repeating-linear-gradient(-90deg, $gridColor, transparent $gridWidth, transparent $gridSize_, $gridColor $gridSize);
  background-size: $gridSize $gridSize;
  opacity: $gridOpacity;
}

canvas {
  flex-shrink: 0;
}
