<form #ngForm="ngForm" (submit)="submit(ngForm)">
  <div class="col justify-content-between standard-padding">
    <div class="form-group">
      <label class="font-weight-bold">
        Sprite
        <app-tile [size]="tileSize" [tile]="tile"></app-tile>
        <input type="file" name="file" value="" accept=".image/png" (change)="handleFileChange($event)" class="form-control-file">
      </label>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">
        Name
        <input type="text" name="name" [(ngModel)]="tile.name" class="form-control">
      </label>
    </div>
    <div class="form-check">
      <label class="font-weight-bold">
        <input type="checkbox" name="solid" [(ngModel)]="tile.solid" class="form-check-input">
        Solid
      </label>
    </div>
    <div class="row justify-content-around">
      <button type="submit" class="btn btn-light btn-outline-primary">Speichern</button>
      <button type="button" (click)="deleteTile()" class="btn btn-danger">Löschen</button>
    </div>
  </div>
</form>
