<form #ngForm="ngForm" (submit)="submit(ngForm)">
  <div class="col justify-content-between standard-padding">
    <div>
      <app-tile [size]="tileSize" [tile]="tile"></app-tile>
      <label>
        Sprite
        <input type="file" name="file" value="" accept="image/*" (change)="handleFileChange($event)">
      </label>
    </div>
    <div>
      <label>
        Name
        <input type="text" name="name" [(ngModel)]="tile.name">
      </label>
    </div>
    <div>
      <label>
        Solid
        <input type="checkbox" name="solid" [(ngModel)]="tile.solid" class="custom-checkbox">
      </label>
    </div>
    <div class="row justify-content-around">
      <button type="submit" class="mat-raised-button">Speichern</button>
      <button type="button" (click)="deleteTile()">Löschen</button>
    </div>
  </div>
</form>
