<div class="col justify-content-between standard-padding">
  <button type="button" (click)="handleMapSelectorToggle()" class="btn btn-light btn-outline-primary">
    Mapauswahl {{ hideMapSelector ? "einblenden" : "ausblenden" }}
  </button>
  <app-map-selector
    *ngIf="!hideMapSelector"
    [maps]="maps"
    (selection)="setCurrentMap($event)"
    [ngClass]="currentMap ? 'col-md-3' : 'col-md-12'">
  </app-map-selector>
  <app-map-workspace
    *ngIf="currentMap"
    [map]="currentMap"
    [tiles]="tiles"
    (onSave)="saveMap($event)"
    (onDelete)="deleteMap($event)"
    class="col-md-9">
  </app-map-workspace>
</div>
